doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel="stylesheet", href="/stylesheets/gitgraph.css")
    script(src="/javascripts/jquery-2.1.3.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src='/javascripts/gitgraph.js')
    script(src='/javascripts/scripts.js')

  body
    .row
      img.col-md-2(src='/images/BostonCIO_Logo.jpg')
      a(href="/")
        h1.col-md-4 CTO Practice Examples
    block content
